table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    border-color: #D3D3D3;
  
    
}
th{
background-color: white;
color: #0000FF;
}
td{
color: black;
background-color: #e3ff33;

}
#btn{
	background-color: #1aa3ff;
	color: #ffffff
	
}
